html,
body,
header,
.view {
  height: 100%;
  width: 100%;
}
@media (max-width: 750px) {
  html,
  body,
  header,
  .view {
    height: 750px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}
.navbar {
    border-bottom:  solid 4px;
    border-color: #df525e;
}
.view {
    background: #EC6F66;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F3A183, #EC6F66);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F3A183, #EC6F66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
  background-color: rgba(256, 256 ,256 , 0.2);
}

.md-form label {
  color: #FFF;
}


h6 {
  line-height: 1.7;
}
.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
put[type=text]:focus:not([readonly]) + label {
            color: green;
        }

        input[type=text]:focus:not([readonly]) {
            border-bottom: 1px solid green;
            box-shadow: 0 1px 0 0 green;
        }
.md-form input[type=text]:focus:not([readonly]) + label { color: #FFF; }

.md-form input[type=text]:focus:not([readonly]) {
    border-bottom: solid 1px #FFF;
    box-shadow: 0 1px 0 0 #FFF;
